:root {
  --purple: #8f60ce;
}

body {
  background-color: #eee9f4f0;
  color: rgb(0, 4, 3);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-large;
}

body h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
}

header {
  margin: 0;
  width: 100%;
}

header h1 {
  margin: 0;
  font-size: 30pt;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-left: 100px;
   padding-top: 25px; */
}

.topo {
  height: 100px;
  background-color: var(--purple);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topo input {
  width: 500px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-color: rgb(253, 253, 253);
}

.seções img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 50px;
  margin-top: 2%;
}

.imagens-topo {
  scrollbar-width: none;
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
  list-style: none;
  display: flex;
  gap: 5em;
  overflow-y: auto;
}

.imagens-topo li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imagens-topo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  height: 100px;
  margin: 0;
  border-style: groove;
  border-color: rgba(206, 171, 255, 0.557);
}

.imagens-topo p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.barra-menu {
  display: flex;
  padding: 0;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0;
  list-style: none;
  background-color: #4f3d68;
  height: 30px;
}

.barra-menu a {
  text-decoration: none;
  color: white;
}

.barra-menu a:hover {
  border-bottom: 2px solid var(--purple);
}

.item {
  color: white;
  margin: 6px;
  font-size: larger;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.flex-container {
  overflow-y: auto;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
  list-style: none;
  display: flex;
  gap: 5em;
  margin: 3%;
}

.flex-container3 {
  overflow-y: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1;
  text-align: center;
  list-style: none;
  display: flex;
  gap: 5em;
  margin: 1%;
  align-items: center;
}
.flex-item3 {
  background-color: #f2f2f2;
  width: 1000px;
  height: 100px;
  /* padding: 50px; */
  font-size: small;
  background-size: 30px;
  border-radius: 10%;
  margin-right: 0%;
  margin-left: 0%;
  /* margin: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 13em;
  /* tamanho do card */
  height: 20em;
  /* tamanho do card */
  border-style: groove;
  border-color: rgba(193, 171, 203, 0.301);
}

.flex-item3 img {
  width: 150px;
  height: 115px;
}

.flex-item3 h4,
.flex-item3 p {
  margin: 0;
}

.flex-item3 a {
  text-decoration: none;
  color: black;
}

.flex-container4 {
  overflow-y: auto;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1;
  text-align: center;
  list-style: none;
  display: flex;
  gap: 5em;
  margin: 1%;
  align-items: center;
}
.flex-item4 {
  background-color: #f2f2f2;
  width: 1000px;
  height: 100px;
  /* padding: 50px; */
  font-size: small;
  background-size: 30px;
  border-radius: 10%;
  margin-right: 0%;
  margin-left: 0%;
  /* margin: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 13em;
  /* tamanho do card */
  height: 20em;
  /* tamanho do card */
  border-style: groove;
  border-color: rgba(193, 171, 203, 0.301);
}

.flex-item4 img {
  width: 150px;
  height: 115px;
}

.flex-item4 h4,
.flex-item4 p {
  margin: 0;
}

.flex-item4 a {
  text-decoration: none;
  color: black;
}

.flex-container::-webkit-scrollbar,
.flex-container2::-webkit-scrollbar,
.flex-container3::-webkit-scrollbar,
.flex-container4::-webkit-scrollbal,
.imagens-topo::-webkit-scrollbar {
  display: none;
}

.flex-container2 {
  overflow-y: auto;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
  list-style: none;
  display: flex;
  gap: 5em;
  margin-bottom: 5%;
}

.flex-container2 img {
  width: 100%;
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  height: 200px;
  border-style: groove;
}

.flex-container2 i {
  color: #8f60ce;
  margin-top: 80px;
}

/* .promo img {
   height: 100%;
} */

.flex-item {
  background-color: #f2f2f2;
  width: 1000px;
  height: 100px;
  /* padding: 50px; */
  font-size: small;
  background-size: 30px;
  border-radius: 10%;
  /* margin: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 15em;
  /* tamanho do card */
  height: 20em;
  /* tamanho do card */
  border-style: groove;
  border-color: rgba(193, 171, 203, 0.301);
}

.flex-item img {
  width: 150px;
  height: 115px;
}

.flex-item h4,
.flex-item p {
  margin: 0;
}

.flex-item a {
  text-decoration: none;
  color: black;
}

.flex-item2 {
  background-color: #eee9e9;
  width: 600px;
  height: 200px;
  /* padding: 70px; */
  font-size: small;
  background-size: 30px;
  border-radius: 10%;
  /* margin: 40px; */
  display: flex;
  gap: 0px;
  border-style: groove;
  border-color: #b4a5ca57;
}

footer {
  height: 90px;
  background-color: var(--purple);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

footer div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

footer div:nth-child(2) {
  width: 300px;
  height: 40px;
  background-color: white;
  border-radius: 0px 0px 30px 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

footer div:nth-child(3) {
  display: flex;
  gap: 1.4em;
}

footer h2 {
  margin: 0;
  font-size: 30pt;
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

footer h3 {
  margin: 0;
  padding-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-align: center;
}

.telefone {
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 13px;
  padding: 0px 0px 0px 8px;
  top: -2px;
  display: flex;
  gap: 2em;
  display: flex;
  align-items: center;
}

.icon a {
  color: white;
}

h3 {
  margin-left: 110px;
  margin-top: 2%;
  margin-bottom: 3%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h4 {
  margin: 0%;
}

h2 {
  /* margin-left: 110px ;
   margin-right:90px; */
  margin: 1%;
  margin-left: 8%;
  border: 0;
  text-align: center;
}

footer p {
  background-color: white;
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.formMaster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.formMaster form {
  margin-top: -360px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  background-color: rgba(255, 255, 255, 0.901);

  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
  width: 400px;
  height: 300px;
  padding: 0px 2em;
  margin-left: 5%;
}

.formulario textarea {
  height: 150px;
  width: 400px;
  display: flex;
  justify-content: center;
}

.orange {
  color: orange;
}

form h3 {
  margin: 0;
  text-align: center;
}

.avaliado img {
  height: 100px;
}

form input {
  width: 50px;
  display: f;
}

p a {
  text-decoration: none;
  color: white;
}

.entrar {
  align-items: center;
  font-size: large;
}

/*.granplus img{
   display: flex;
   margin-top: 5em;
   width: 40%;*/

.granplus {
  list-style: none;
  display: flex;
  margin: 0%;
  margin-top: 5%;
  justify-content: center;
}

.granplus img {
  width: 600px;
  height: 600px;
}

.granplus p b {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}

.ppp {
  background-color: #d4c3eb;
  width: 300px;
  height: 50px;
  text-align: center;
  margin: 0;
  margin: auto;
  margin-top: -1em;
}

.pPreço {
  font-size: 40px;
}

.granplus p {
  font-size: 40px;
}

.granplus i {
  font-size: 20px;
}

.compra {
  display: flex;
  gap: 10em;
}

.preço {
  list-style: none;
}

.caixa {
  width: fit-content;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0em;
  margin: 50px auto;
  margin-left: 20%;
  margin-right: 80%;
  margin-top: 0%;
}

.caixa input {
  border-radius: 6px;
  padding: 30px 100px;
  margin-bottom: 30px;
  background: #d0b6f2;
  width: 500px;
}

.botao {
  display: flex;
  justify-content: center;
}

.containerBotao {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-top: 1em;
}

.botaoComprar {
  background-color: #d0b6f2;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #4f3d68;
  border-radius: 10px;
  font-size: 18pt;
}

.botaoComprar:hover {
  background-color: #4f3d68;
  color: white;
}

.outraCor:hover {
  color: red;
}

.botao input {
  background-color: rgb(6, 199, 154);
  color: #f1f1f1;
  border: none;
  border-radius: 2em;
  height: 2.4em;
  width: 8em;
}

.granplus div {
  display: flex;
  gap: 1em;
}

.granplus h4 {
  border: solid 1px black;
  border-radius: 5px;
  padding: 0.5em;
}
.granplus h4:hover {
  background-color: #d0b6f2;
}

.maisMenos {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f60ce;
  border-radius: 10px;
  color: white;
  font-size: larger;
  font-weight: bold;
}

.corDiferente {
  background-color: #d0b6f2;
  border-radius: 5px;
  color: #4f3d68;
}

.maisMenos:nth-child(3) {
  margin-right: 2em;
}

.granplus li:nth-child(2) p:nth-child(3) {
  margin: 0;
}

.info {
  text-align: center;
  margin: 50px;
  font-size: large;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  border-left: 20px;
  border-right: 20px;
}
/* .info2{
   text-align: center;
   margin: 40px;
   font-size: large;
   padding: 0;
   text-decoration: none;
   list-style: none;
   border: 200px;
} */

.entrar {
  width: fit-content;
  text-transform: uppercase;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 2em;
  margin: 0 auto;
}
.entrar h2 {
  color: #8f60ce;
  text-align: center;
  margin-bottom: 5px;
}

.entrar p {
  text-align: center;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.entrar input,
.entrar textarea {
  border-radius: 6px;
  padding: 6px 16px;
  margin-bottom: 20px;
  width: 300px;
  background: transparent;
  border: 1px solid black;
}

.form-btn {
  display: flex;
  justify-content: center;
}

.form-btn button {
  background-color: #8f60ce;
  color: #f1f1f1;
  border: none;
  border-radius: 2em;
  height: 2.5em;
  width: 8em;
}

.entrar input:invalid {
  animation: shake 0.2s 2;
  border: 1px solid red;
}
@keyframes shake {
  25% {
    translate: 6px 0;
  }
  50% {
    translate: -6px 0;
  }
  75% {
    translate: 6px 0;
  }
}

.confirmacao {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #9060ce86;
  border-radius: 10px;
  color: white;
  filter: drop-shadow(3px 3px 5px black);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmacao div,
.confirmacao h2,
.confirmacao p{
   margin: 0;
   padding: 20px;
   text-align: center;
   background-color: var(--purple);
   border-radius: 10px;
   /* padding: 20px; */
}
