body{  
   background-color: rgb(252, 252, 252);
   color: rgb(0, 4, 3);

}

header{
   background-color: #dedede;
   color: #8F60CE;
}

.seções img{
  width: 110px; height: 110px; border-radius: 50%;
  padding: 45px; margin-top: 5%;
  
