body{  
   background-color: rgb(252, 252, 252);
   color: rgb(0, 4, 3);
      margin: 0;
}

header{
   margin: 0;
}


header h1{
   margin: 0;
   font-size: 30pt;
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 100px;
   padding-top: 25px;
}

.topo{
   height: 100px;
   background-color: #8F60CE;
   color: white;
   display: flex;
   align-items: center;
}

.topo input{

   height: 20px;
   width: 450px;
   margin: 250px;
}

.seções img{
  width: 100px; height: 100px; border-radius: 50%;
  padding: 50px; margin-top: 2%; 

}

.imagens-topo img{
   width: 100px; height: 100px; border-radius: 50%;
   padding: 55px; margin-top: 2%; 
   display: flex;
   justify-content:space-around ;
   flex-flow: row wrap;
   height: 100px;
   margin: 0;
}

.imagens-topo{
   list-style: none;
   display: flex;
}

.barra-menu{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   margin: 0;
   list-style: none;
   background-color:#4f3d68;
   height: 30px;
}

.item{
   color: white;
   margin: 6px;
}

.flex-container{
      width: 300px;
      height: 300px;
      padding: 50px;
      border: 1px solid #ccc;
      margin-right: 30px;
      margin-left: 30px ;
      background-color: #f9f9f9;
      color: #333;
      font-size: 16px;
      font-family: Arial, sans-serif;
      line-height: 1.5;
      text-align: center;
      list-style: none;
      display: flex
      
    }
  
   
.flex-item{
   
   background-color: #EEE9E9;
   width: 500px;
   height: 150px;
   padding: 50px;
   font-size: small;
   background-size: cover;
   border-radius: 15%;
   margin: 55px;
   
}




